<!DOCTYPE html>
<html>
	<head>
		<title>{{.Doc.title}}</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="/assets/css/wiki.css">
		<link rel="stylesheet" href="/assets/css/github-markdown.css">
		<style>
			.markdown-body {
			  box-sizing: border-box;
			  min-width: 200px;
			  max-width: 980px;
			  margin: 10px auto;
			padding: 25px;
			border: outset 1px #e0e0e0;
			}

			@media (max-width: 767px) {
			  .markdown-body {
			    padding: 15px;
			  }
			}
		</style>
	</head>
	<body>
		<header class="header">
			<a href="{{.Doc.url}}">{{.Doc.sitename}}</a>
		</header>
		<article class="markdown-body">
			{{.Doc.body}}
		</article>
		<footer class="footer">
			<a href="{{.Doc.exlink}}">{{.Doc.exmessage}}</a>
		</footer>
	</body>
</html>
